<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="floating_clock.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <userSettings>
        <floating_clock.Properties.Settings>
            <setting name="user_preferences" serializeAs="String">
                <value>{"FontColor":{"r":"0","g":"0","b":"0"},"FontFamily":"Calibri","FontSize":"18","Is12HrFormat":"true"}</value>
            </setting>
        </floating_clock.Properties.Settings>
    </userSettings>
</configuration>